.cover, .carousel{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel img{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.carousel-item{
    height: 70vh;
    text-align: center;
}
.row{
    border-radius: 30px;
    margin: 10px;

}
